{% extends 'checkapp/base.html' %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <br>
    <br>
    <p>A site to check in and check out laptops.
    <p><a href="{% url 'checkin' %}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-log-in"></span> Check In</a> <a href="{% url 'checkout' %}" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-log-out"></span> Check Out</a></p>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
